@import "reset";
@import "_variable";
@import "header";
@import "form";

// 共通スタイル
* {
  margin: 0;
  padding: 0;
}

body {
  // しょーごさんおすすめfont-family
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", sans-serif;
  font-size: $bacic-font-size;
  font-weight: normal;
  line-height: 1.5;
  box-sizing: border-box;
}

h1 {
  font-size: $bacic-font-size;
}

h2 {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 25px 25px;
  width: 100%;
}
